*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: nromal;
    font-display: swap;
}

:root{
    --primary-color: #8F0101;
    --secondary-color: #B81515;

    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-terciary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

body{
    font-family: "Montserrat";
}