* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: nromal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-terciary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
  background-color: var(--background-primary-color);
}

section {
  width: 312px;
  margin: 0 auto 88px;
}

section.hero {
  width: 100%;
  margin: 0;
}

.section-title {
  width: 280px;
  margin: 0 auto 32px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  text-align: center;
  margin: 0;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

.button {
  display: inline-block;
  width: 280px;
  height: 64px;
  background-color: var(--secondary-color);
  font-size: 20px;
  font-weight: var(--title-weight);
  color: var(--text-secondary-color);
  border-radius: 16px;
  text-decoration: none;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  section {
    width: 648px;
  }

  .section-title {
    width: 100%;
    margin: 0 auto 32px;
  }

  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 900px;
    margin: 0 auto 104px;
  }

  .section-title {
    margin: 0 auto 64px;
  }

  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  section {
    margin: 0 auto 139px;
  }
}
