.main-header {
  background-color: var(--background-terciary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo-desktop {
  display: none;
}

.logo-mobile {
  display: block;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-terciary-color);
}

nav {
  display: none;
}

.list-link {
  list-style: none;
}

.list-link li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-size: 24px;
  font-weight: var(--menu-text-weight);
}

.list-link li {
  margin: 16px;
}

@media screen and (min-width: 768px) {
  .navegation-menu {
    margin-top: 0;
  }

  .navegation-menu label {
    display: none;
  }

  .navegation-menu nav {
    display: block;
  }

  .list-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .logo-desktop {
    display: block;
  }

  .logo-mobile {
    display: none;
  }

  .logo {
    width: 260px;
    height: 64px;
  }

  .main-header {
    padding: 38px 120px;
  }

  .list-link li a:hover {
    color: var(--primary-color);
  }

  .list-link li a:active {
    text-decoration: underline;
    color: var(--text-secondary-color);
  }
}

@media screen and (min-width: 1920px) {
  .main-header {
    padding: 38px 160px;
  }
}
