.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  margin: 0;
  padding: 88px 24px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    margin: 0;
    padding: 88px 60px;
    font-weight: var(--text-weight);
    font-size: 32px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-desktop.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    margin: 0;
    padding: 104px 120px;
    font-weight: var(--text-weight);
    font-size: 32px;
    text-align: center;
  }
}

  .hero-img {
    background: url(../img/hero-desktop.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    margin: 0;
    padding: 139px 160px;
    font-weight: var(--text-weight);
    font-size: 32px;
    text-align: center;
  }