@import url(global.css);
@import url(headar.css);
@import url(hero.css);
@import url(offers.css);
@import url(category.css);
@import url(popular-destinations.css);
@import url(payments.css);
@import url(testimonials.css);
@import url(footer.css);
