.testimonials .testimonial-conteiner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonials .testimonial-conteiner article header .p {
  font-size: 16px;
  line-height: 28px;
  color: var(--text-primary-color);
}

.testimonials .testimonial-conteiner article footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.testimonials .testimonial-conteiner article footer img {
  width: 86px;
  height: 86px;
}

.testimonials .testimonial-conteiner article footer .profile-content h4 {
  font-size: 20px;
  line-height: 32px;
  color: var(--text-primary-color);
  font-weight: var(--title-weight);
}

.testimonials
  .testimonial-conteiner
  article
  footer
  .profile-content
  .rating
  .star {
  color: var(--secondary-color);
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 8px;
}

@media screen and (min-width: 1440px) {
.testimonials .testimonial-conteiner {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
